<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.digital4.sql.mapper.PhoneMapper">
			<!--Phone 테이블에서 PhoneNumber로 찾아오기-->
			 <select id="getPhone" resultType="com.digital4.sql.vo.PhoneVO"> 
                     SELECT phone.phoneId, phone.phoneNumber
                     FROM 	phone
                     WHERE	phoneNumber = #{phoneNumber}
                             
           </select>
           
           <!--Phone 테이블에서 PhoneID로 찾아오기-->
			 <select id="getPhoneById" resultType="com.digital4.sql.vo.PhoneVO"> 
                      SELECT phone.phoneId, phone.phoneNumber
                     FROM 	phone
                     WHERE	phoneId = #{phoneId}
                             
           </select>
           
			<!--Phone 테이블에 저장-->
			<insert id="insertPhone" parameterType="com.digital4.sql.vo.PhoneVO"> 
				INSERT INTO Phone (phoneId, phoneNumber) 
				VALUES (#{phoneId}, #{phoneNumber}) 
			</insert> 
			
</mapper>